
.projects {
    padding: 0 24px;
    background: var(--color-background);
}

.projects .inner {
    background: var(--color-project-bg);
    color: var(--color-project-text);
    padding: 70px;
    border-radius: 24px;
}

.projects .inner p.debug {
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--color-project-info);
    border: 1px solid var(--color-project-border);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
}

.projects .inner p.debug .i {
    font-size: 18px;
}

.projects .inner > h2 {
    font-size: 38px;
    margin-bottom: 24px;
}

.projects .inner p.info {
    font-size: 18px;
    color: var(--color-project-info);
    margin-bottom: 24px;
}

.projects .inner > button {
    padding: 10px 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    font-size: 18px;
}

.projects .inner .items {
    gap: 20px;
    display: flex;
}

.projects .inner .items .item {
    border: 1px solid var(--color-project-border);
    border-radius: 16px;
    padding: 32px 20px;
    height: 250px;
    width: 24%;
    background: #262626;
}

.projects .inner .items .item .i {
    font-size: 48px;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    padding: 10px;
    background: #303030;
}

.projects .inner .items .item a {
    display: block;
    margin: 24px 0 14px;
    color: var(--color-project-text);
    font-size: 20px;
}

.projects .inner .items .item p {
    color: var(--color-project-info);
    font-size: 16px;
    line-height: 24px;
}