
footer {
    background: var(--color-footer-bg);
    border-radius: 24px 24px 0 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer p,
footer a {
    font-size: 13px;
    color: var(--color-footer-text);
    transition: all 0.3s ease;
}

footer a:hover {
    color: var(--color-project-text);
}